<div class="footer-strip">
  <div class="container">
    <div class="row">
      {%comment%}
      <div class="col-3" style="color: white"><a href="https://github.com/coordinationdesk/auxiliary-data-gathering-reprocessing/ " style="color:white" target="_blank">Project's Github</a></div>
      <div class="col-7" style="color: white"><a href="" style="color:white" target="_blank"></a></div>
      {%endcomment%}
      <div class="col-11" style="color: white"><a href="" style="color:white" target="_blank"></a></div>
      <div class="col-1"><a href="mailto:{{ site.docurl }}?subject=[General] Commentss&body=Hello, this is some comments about the website" title="Send comments"><span class="ui-icon ui-icon-mail-closed" style="background-color:white"></span></a></div>
      </div>
  </div>
</div>
